<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <script src="https://kit.fontawesome.com/d28bf72700.js" crossorigin="anonymous"></script>
    <title>Main Board</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-name">
                Manabu
                <a href="/"></a>
            </div>
            <div class="navbar-right">
                <div class="navbar-item add-post">
                    <a href="addpost"></a>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="board">

        <div class="pending-questions column">
            <h1 class="main-header">Pending Questions</h1>
    
            <ul class="question-list">

                <% for( let i = 0; i < unresolved.length; i++ ) { %>

                    <li class="question-box pending">
                        <a href="/post/<%= unresolved[i].post_id %>"></a>
                        <div class="post-prev-header">
                            <div class="poster-name"><%= unresolved[i].username %></div>
                            <div class="post-topic"><%= unresolved[i].subject %></div>
                        </div>
                        <div class="post-prev-body">
                            <div class="post-prev-title"><%= unresolved[i].title %></div>
                            <div class="post-stats">
                                <div class="post-replies">
                                    <i class="fa-solid fa-comment"></i>
                                    <div class="comment-count">10</div>
                                </div>
                                <div class="post-likes">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <div class="like-count"><%= unresolved[i].likes %></div>
                                </div>
                                <div class="unresolved-status">
                                    Unresolved
                                </div>
                            </div>
                        </div>
                    </li>
                
                <% } %>


                
            </ul>
        </div>

        <div class="divider"></div>

        <div class="recently-answered column">
            <h1 class="main-header">Recently Answered</h1>

            <ul class="question-list">

                <% for( let i = 0; i < resolved.length; i++ ) { %>
                
                    <li class="question-box answered">
                        <a href="/post/<%= resolved[i].post_id %>"></a>
                        <div class="post-prev-header">
                            <div class="poster-name"><%= resolved[i].username %></div>
                            <div class="post-topic"><%= resolved[i].subject %></div>
                        </div>
                        <div class="post-prev-body">
                            <div class="post-prev-title"><%= resolved[i].title %></div>
                            <div class="post-stats">
                                <div class="post-replies">
                                    <i class="fa-solid fa-comment"></i>
                                    <div class="comment-count">10</div>
                                </div>
                                <div class="post-likes">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <div class="like-count"><%= resolved[i].likes %></div>
                                </div>
                                <div class="resolved-status">
                                    Resolved
                                </div>
                            </div>
                        </div>
                    </li>

                <% } %>

                
            </ul>
        </div>

    </div>
</body>
</html>