<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <script src="https://kit.fontawesome.com/d28bf72700.js" crossorigin="anonymous"></script>
    <title>Post</title>
</head>
<body>

    <header>
        <%- include('partials/navbar') %>
    </header>

    <div class="post">

        <% if (post[0].resolved == 0) { %>
            <div class="post-title unresolved-banner">
        <% } else { %>
            <div class="post-title resolved-banner">
        <% } %>
        
            <h1 class="main-header"><%= post[0].title %></h1>
            <div class="post-header-details">
                <div class="poster">Posted by: <%= post[0].poster_username %></div>
                <div class="subject">Subject: <%= post[0].subject %></div>
                <div class="status">Status: 
                    <% if (post[0].resolved == 0) { %>
                        Unresolved
                    <% } else { %>
                        Resolved
                    <% } %>
                </div>
            </div>
        </div>
    
        <div class="body">
            <div class="body-text">
                <%= post[0].body %>
            </div>
            <div class="likes">
                <div class="like-count"><%= post[0].likes %></div>
                <i class="fa-solid fa-thumbs-up"></i>
                <a href="/post/<%= post[0].post_id %>/like"></a>
            </div>
        </div>
    </div>

    <div class="horizontal-divider"></div>

    <% for( let i = 0; i < replies.length; i++ ) { %>

        <div class="reply">
            <div class="poster"><b>Reply by:</b> <%= replies[i].poster_username %> </div>
            <div class="body">
                <div class="body-text">
                    <%= replies[i].body %>
                </div>
                <div class="likes">
                    <div class="like-count"><%= replies[i].likes %></div>
                    <i class="fa-solid fa-thumbs-up"></i>
                    <a href="/post/<%= post[0].post_id %>/<%= replies[i].reply_id %>/like"></a>
                </div>
            </div>
    
            
        </div>
    
        <div class="horizontal-divider"></div>
        
    <% } %>

    

    <div class="reply-entry">
        <h2>Have a response?</h2>

        <% if (isLoggedIn) { %>
            <form action="/post/<%=post[0].post_id %>/reply" method="post">
                <div class="reply-entry-area">
                    <textarea name="reply_body" id="reply_body" cols="30" rows="10"></textarea>
                    <button>Send</button>
                </div>
            </form>
        <% } else { %>
            <h2><em>Please log in to reply to posts.</em></h2>
        <% } %>

    </div>
</body>
</html>